.contenido{
    text-align: center;
    padding: 1rem;
}
@media screen and (min-width:0){
    .contenido{
        padding: 2rem 1rem;
        text-align: center;
}
}
@media screen and (min-width:768px){
    .contenido{
        padding: 2rem 1rem;
        text-align: center;
}
}