.trabajadores{
    display: flex;
    padding-top: 2rem;
    justify-content: space-around;
}
@media screen and (mind-width: 0) {
    .trabajadores{
        flex-direction: column;
    }
}
@media screen and (mind-width: 768px) {
    .trabajadores{
        flex-direction: row;
    }
}